<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:action="@{/admin/add-user}" th:object="${user}" method="post">
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">

    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">

    <label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">

    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Password">

    <label for="roles">Roles</label>
    <select th:field="*{roles}" id="roles" multiple>
        <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.roleName}"></option>
    </select>

    <button type="submit">Add User</button>
</form>
</body>
</html>