<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Address</th>
        <th>Email</th>
        <th>Name</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
   <br><br>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.address}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.phone}"></td>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <td><a th:href="@{student-update/{id}(id=${student.id})}">Edit</a></td>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <td><a th:href="@{student-delete/{id}(id=${student.id})}">Delete</a></td>
        </div>


    </tr>
    </tbody>

</table>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <p><a href="/student-create">Create user</a></p>
</div>


</body>
</html>