<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--Cоздание меню сайта-->
<nav class="navbar navbar-default">
    <!--    Растягивание меню сайта на весь экран-->
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">ITPROGER</a>
        </div>
<!--        Элементы меню-->
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Главная</a> </li>
                <li><a href="#">О компании</a> </li>
                <li><a href="#">Обратная связь</a> </li>
            </ul>
        </div>
    </div>
</nav>



<!--fluid растягивает на весь экран, без него централизует-->
<div class="container-fluid">
    <h1> СИСТЕМА СЕТОК</h1>
    <div class="row">
        <div class="col-md-4" style="background-color: lemonchiffon">Left</div>
        <div class="col-md-4" style="background-color: lightsalmon">Middle</div>
        <div class="col-md-4" style="background-color: royalblue">Right</div>
    </div>
</div>



<!--Настройка экрана в зависимости от устройства-->
<div class="row">
    <div class="col-xs-12 col-sm-9 col-lg-6" style="background-color: cyan">
        <div class="row">
            <div class="col-lg-6" style="background-color: red">
                Первый
            </div>
            <div class="col-lg-6" style="background-color: chartreuse">
                Второй
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-3 col-lg-6" style="background-color: lemonchiffon">Третий</div>

</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>