<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<table>
    <tr>
        <td>User page</td>
    </tr>
    <tr>
        <th>About user</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>Age</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
    </tr>
    <tr th:object="${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td>
            <ul>
                <li th:each="role : ${user.getRoles()}" th:text="${role.roleName}"></li>
            </ul>
        </td>

    </tr>
</table>
</body>
</html>